.homewrapper {
  margin-top: 100px;
}
.hometopcontent {
  padding: 20px;
  background: linear-gradient(
    91.09deg,
    rgba(41, 82, 131, 0.9) 6.01%,
    rgba(255, 255, 255, 0) 105.29%
  );
  margin-left: 23px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}
.hometopcontent img {
  position: relative;
  z-index: -1;
  margin-left: -28px;

  margin-top: -20px;
  margin-bottom: -20px;

  width: 95vw;
  height: calc(80vh - 100px);
  object-fit: cover;
  border-radius: 25px;
}

.hometopdesc {
  position: absolute;
  left: 20%;
  top: 20%;
}
.hometopdesc p {
  width: 80%;
  font-size: 24px;
  color: white;
  font-family: "Jacques Francois", serif;
}
.hometitle {
  display: flex;
  margin-top: 70px;
  margin-bottom: -40px;
}
.head1 {
  color: #ffd232;
  font-size: 40px;
  font-weight: normal;
  font-family: "Jacques Francois Shadow", cursive;
}
.head2 {
  margin-left: 15px;
  color: white;
  font-size: 40px;
  font-weight: normal;
  font-family: "Jacques Francois Shadow", cursive;
}
#image1 {
  background: linear-gradient(
    91.09deg,
    rgba(92, 136, 190, 0.9) 19.01%,
    rgba(255, 255, 255, 0) 105.17%
  );
}
.hometopdesc button {
  border: none;
  background-color: #d68a18;
  color: white;
  padding: 5px 35px;
  font-family: Roboto;
  font-size: 17px;
}
.homebottomcontent {
  display: flex;
  background: linear-gradient(292.14deg, #295283 19.48%, #d68a18 68.33%);
  justify-content: center;
  padding: 20px;
  align-items: center;
  margin-bottom: 50px;
}
.homebottomleft {
  width: 50%;
  margin-left: 40px;
}
.homebottomright {
  width: 50%;
  margin-right: 20px;
}
.homebottomleft span {
  font-size: 34px;
  color: white;
  font-family: "Ramabhadra", sans-serif;
}
.homebottomleft p {
  color: white;
  font-size: 16px;
  margin-right: 40px;
  line-height: 25.95px;
  font-family: "Ramabhadra", sans-serif;
}
.homebottomright img {
  width: 70%;
  height: 550px;
  border-radius: 35px;
  object-fit: cover;
}
.homebottommobile {
  display: none;
}
@media screen and (max-width: 955px) {
  .hometopcontent {
    padding: 20px;
    margin-left: 10px;
    border-radius: 25px;
  }
  .hometopcontent img {
    margin-left: -27px;
    margin-top: -20px;
    margin-bottom: -20px;
    border-radius: 25px;
  }
}
@media screen and (max-width: 660px) {
  .head1 {
    font-size: 35px;
  }
  .head2 {
    font-size: 35px;
  }
  .hometopdesc {
    position: absolute;
    left: 15%;
    top: 10%;
  }
  .hometopcontent {
    padding: 10px;
    margin-left: 10px;
    border-radius: 0px;
  }
  .hometopcontent img {
    width: 95%;
    border-radius: 0px;
    margin-left: -50px;
    margin-top: -10px;
    margin-bottom: -10px;
    height: calc(80vh - 100px);
  }

  .homebottomcontent {
    display: none;
  }
  .homebottommobile {
    display: flex;
    flex-direction: column;
  }
  .homebottommobile img {
    position: relative;
  }
  .homebottomdescmobile {
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
  }
  .homebottomdescmobile span {
    margin-top: 40px;
    font-size: 24px;
  }
  .homebottomdescmobile p {
    width: 80%;
    font-size: 15px;
  }

  .homebottommobile img {
    position: relative;
    height: 65vh;
  }
}
@media screen and (max-width: 465px) {
  .homewrapper {
    margin-top: 40px;
    margin-left: -10px;
  }
  .hometopdesc {
    position: absolute;
    left: 10%;
    top: 10%;
  }
  .head1 {
    font-size: 30px;
  }
  .head2 {
    font-size: 30px;
  }
  .hometopcontent {
    padding: 0px;
    margin-left: 10px;
    border-radius: 0px;
  }
  .hometopcontent img {
    position: relative;
    z-index: -1;

    border-radius: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    border-radius: 0px;
    height: calc(90vh - 100px);
  }
  .hometopdesc p {
    width: 80%;
    font-size: 20px;
  }
  .homebottommobile img {
    position: relative;
    height: 55vh;
  }
}
